@import url("/styles/header.css");
@import url("/styles/footer.css");
@import url("/styles/main.css");
@import url("/styles/bootstrap.min.css");
@import url("/styles/auth.css");
@font-face {
    font-family: "Geist";
    src: url("../fonts/GeistVariableVF.ttf");
}
@font-face {
    font-family: "Cormorant";
    src: url("../fonts//Cormorant-VariableFont_wght.ttf");
}